{% extends "facturaciononline/base.html" %}

{% block content %}
  <p>Ingresa el número de serie y folio y el total de tú orden de servicio</p>
  {% if error %}
  <span>{{error}}</span>
  {% endif %}

  <form action="consulta/" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <input type="submit" value="Consulta">
  </form>
  <p>Recuerda que tienes 30 días naturales a partir de tu servicio para facturar y que la fecha de la factura es del día que la generas</p>
{% endblock %}
