{% extends "facturaciononline/base.html" %}
{% load static %}

{% block content %}
<div id="archivos">
  <div class="arleft">
    <a href="{% static "facturas/" %}{{agencia}}/{{mes_anio}}/{{idCertificado}}.pdf" download id="pdf" class="descarga">Descarga</a>
  </div>
  <div class="arright">
    <a href="/facturaciononline/zipper?agencia={{agencia}}&mes_anio={{mes_anio}}&archivo={{idCertificado}}" id="zip" class="descarga">Descarga</a>
  </div>
</div>
<div id="correo">
  <form method="post" action="/facturaciononline/correo/" id="form_correos">
    {% csrf_token %}
    <img src="{% static "images/email.svg" %}" alt="">
    <div class="field_wrapper">
      {% for field in correo_form %}
        {{ field.errors }}
        {{ field }}
      {% endfor %}
    </div>
    <input type="submit" value="Enviar">
  </form>
</div>
{% endblock %}
