<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facturación Online :: Error ::</title>
    <style type="text/css">
    body{
        background-color: #45A97F;
        font-family: Roboto;
        color: #ECF9F3;
        text-align: center;
    }

    h1{
        margin-top: 100px;
        font-size: 80px;
    }

    h3{
        font-size: 40px;
    }

    p{
        font-size: 30px;
        width: 998px;
        margin: 70px auto;
    }
    </style>
</head>
<body>
    <h1>Ooooops</h1>
    <h3>Parece que hay un problema con tu factura</h3>
    <p>No te preocupes ya avisamos a la persona correcta para resolver el problema, 
si tenemos tus datos te enviaremos un correo, en caso contrario por favor 
vuelve a intentarlo en 24 horas. Gracias!</p>
</body>
</html>