<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facturación Online :: Error ::</title>
    <style type="text/css">
    body{
        background-color: #45A97F;
        font-family: Roboto;
        color: #ECF9F3;
        text-align: center;
    }

    h1{
        margin-top: 100px;
        font-size: 80px;
    }

    h3{
        font-size: 40px;
    }

    p{
        font-size: 30px;
        width: 998px;
        margin: 70px auto;
    }
    </style>
</head>
<body>
    <h1>Ooooops</h1>
    <h3>Ese no es un RFC válido</h3>
    <p>Podría ser que tenga una letra errónea, no te preocupes lo puedes cambiar
por uno correcto o por XAXX010101000 si no lo piensas deducir, si tú RFC
parece ser correcto validalo en 
<a href="https://portalsat.plataforma.sat.gob.mx/ConsultaRFC/">https://portalsat.plataforma.sat.gob.mx/ConsultaRFC/</a>
y prueba escribirlo de nuevo en el formulario</p>
</body>
</html>