*{
  margin: 0 auto;
  padding: 0 auto;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

div#header h1{
  padding-top: 20px;
  text-align: center;
  color: #ECF9F3;
  font-size: 48px;
}

div#header{
  background-color: #45A97F;
  width: 100%;
  height: 100px;
}

div.wrapper{
  width: 1000px;
  padding-top: 20px;
  position: relative;
  display: block;
  min-height: 300px;
  float: none;
  margin: 0 auto;
}

p{
  font-size: 20px;
}

label {
  font-size: 35px;
  color: #47799F;
}

select {
  overflow: hidden;
  background: url('../images/flecha.svg') no-repeat;
}

input[type=text], input[type=number], input[type=email], select {
  height: 47px;
  border: 1px solid #8F8F8F;
  border-radius: 6px;
  font-size: 30px;
  padding: 5px 10px;
}

input[type=submit]{
  text-decoration: none;
  background-color: #45A97F;
  color: #ECF9F3;
  width: 170px;
  height: 51px;
  border: none;
  font-size: 36px;
  margin-top: 69px;
}

a{
  text-decoration: none;
  text-align: center;
}

a.titulo{
  color: #ECF9F3;
}

div.arleft, div.arright{
  width: 50%;
  float: left;
}

a.descarga{
  width: 100px;
  height: 100px;
  float: left;
  padding-top: 100px;
  margin-left: 45%;
}

a#pdf{
  background: url('../images/pdf.svg') no-repeat;
}

a#zip{
  background: url('../images/zip.svg') no-repeat;
}

form{
  text-align: center;
  padding: 50px 0;
}

div.row{
  float: left;
  display: block;
  width: 100%;
  margin: 18.5px 0;
}

div.dfrow{
  float: left;
  display: block;
  width: 100%;
  margin: 11.5px 0;
}

div.leftForm, div.rightForm{
  width: 50%;
  margin: 0;
  float: left;
}

div.leftForm{
  text-align: right;
}

div.leftForm > label{
  margin-right: 15px;
}

div.rightForm{
  text-align: left;
}

ul.errorlist > li {
    color: #DC5A81;
}

#id_concesionaria{
  width: 350px;
}

div.rightForm > input{
  width: 259px;
}

div#archivos{
  padding-top: 80px;
  width: 100%;
  float: left;
  height: auto;
  text-align: center;
}

div.cleft{
  width: 60%;
  display: block;
  float: left;
  text-align: left;
}

div.cright{
  width: 40%;
  display: block;
  float: left;
  text-align: right;
}

input.dostreinta{
  width: 260px;
}

select#id_uso_cfdi{
  width: 350px;
}

ul.errorlist{
  margin-top: -19.2px;
}

input#id_cp{
  width: 107px;
}

input.seiscientos{
  width: 600px;
}

img{
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}
